@use 'sass:math';
$containerWith: 1200;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);

$breakpoint1450: 1449.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

$burgerBreakpoint: $breakpoint992;

//colors

$mainWhite: #FFFFFF;
$mainGreen: #3B5D50;
$mainYellow: #F9BF29;
$mainBlack: #2F2F2F;
$mainGrey: #EFF2F1;

$minorGreenLight: rgba(53, 115, 110, 0.1);;
$minorGreenDark: #385D50;