@import './__vars.scss';
@import './__reset.scss';
@import './__global.scss';

//Header

.header{
  display: flex;
  align-items: center;
  background-color: $mainGreen;
  color: $mainWhite;
  &-content{
    height: 87px;
    display: flex;
    justify-content: space-between;
    &__name{
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 32px;
      line-height: 39px;
    }
    &__nav{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.header-nav__list{
  display: flex;
  &-item {
    cursor: pointer;
    & a {
      font-family: 'Urbanist', sans-serif;
      margin-right: 43px;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      opacity: 0.5;
      transition: ease-in-out 0.3s;
    }
    & a:hover{
      font-family: 'Inter', sans-serif;
      opacity: 1;
      border-bottom: 5px solid $mainYellow;
    }
  }
}


//homepage

.homepage{
  height: calc(100vh - 87px);
  &-content{
    padding: 133px 0 157px;
  }
}

.homepage-content {
  display: flex;
  position: relative;
  &__presentation{
    height: 297px;
  }
  &__presentation-text{
    display: flex;
    flex-direction: column;
    margin-bottom: 117px;
    & h1 {
      color: $mainWhite;
      font-weight: 600;
      font-size: 54px;
      line-height: 65px;
    }
  }
  &__presentation-btns{
    display: flex;
  }
  &__presentation-btn{
    height: 50px;
    width: 150px;
    font-weight: 500;
    font-size: 16px;
    color: $mainWhite;
    line-height: 28px;
    background-color: transparent;
    border-radius: 30px;
    transition: ease-in-out 0.5s;
    border: 2px solid rgba(255, 255, 255, 0.29);
    cursor: pointer;
    &:hover{
      background-color: $mainYellow;
    }
  }
  &__presentation-btn + .homepage-content__presentation-btn{
    margin-left: 14px;
  }
  &__img{
    position: absolute;
    top: 94px;
    right: 0;
    z-index: 10;
  }
}

.decor-dots-img-homepage{
  background-image: url('../images/dots-decor-green.png');
}


//----------------Main

//Explore

.store {
  padding: 164px 0 158px;
}

.store-content{
  display: flex;
  &__descr{
    height: 342px;
    width: 228px;
    margin-right: 114px;
  }
  &__descr-title{
    margin-bottom: 27px;
  }
  &__descr-text{
    margin-bottom: 33px;
  }
  &__cards{
    display: flex;

  }
  &__card{
    width: 256px;
    height: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-img{
      max-width: 256px;
      height: 237px;
      margin-bottom: 46px;
    }
    &-name{
      text-align: center;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: $mainBlack;
    }
    &-price{
      text-align: center;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: $mainBlack;
    }
  }
}

.store-content__card + .store-content__card{
  margin-left: 60px;
}

//Advantages

.advantages{
  padding: 57px 0 140px;
}

.advantages-content{
  display: flex;
  position: relative;
  &__services{
    display: flex;
    flex-direction: column;
    width: 617px;
    margin-right: 59px;
    &-title{
      margin-bottom: 27px;
    }
    &-text{
      width: 444px;
      margin-bottom: 89px;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #6A6A6A;
    }
  }
  &__services-row{
    display: flex;
    margin-bottom: 26px;
  }
  &__services-item{
    width: 216px;
  }
}

.services-item__img{
  margin-bottom: 2px;
}

.services-item__title{
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 10px;
}

.services-item__decr{
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.advantages-content__img{
  z-index: 10;
}

.decor-dots-img-advantages{
  background-image: url('../images/dots-decor-yellow.png');
  top: -51px;
  right: 390px;
}

